annotated-types==0.7.0
anyio==4.8.0
AnyQt==0.2.0
appdirs==1.4.4
apt-clone==0.2.1
apturl==0.5.2
argcomplete==3.1.4
argon2-cffi==21.1.0
asgiref==3.8.1
astroid==3.0.2
asttokens==2.4.1
attrs==23.2.0
av==11.0.0
Babel==2.10.3
backoff==2.2.1
bcrypt==4.2.1
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.7.0
bottle==0.12.25
breezy==3.3.5
Brlapi==0.8.5
Brotli==1.1.0
build==1.2.2.post1
bytecode==0.15.1
cachetools==5.5.0
-e git+ssh://git@github.com/iplayfast/OllamaPlayground.git@72cf2a0ee744ec65cc81dea422c0c24bdb60c0e2#egg=cag_ollama&subdirectory=WorkingExamples/cag
catkin-pkg==1.0.0
catkin-pkg-modules==1.0.0
ccsm==0.9.14.2
Cerberus==1.3.2
certifi==2023.11.17
chardet==5.2.0
chroma-hnswlib==0.7.6
chromadb==0.6.2
cliapp==1.20180812.1
click==8.1.6
cmdtest==0.32+git
cmyt==2.0.0
colcon-argcomplete==0.3.3
colcon-bash==0.5.0
colcon-cd==0.2.1
colcon-cmake==0.2.29
colcon-common-extensions==0.3.0
colcon-core==0.18.4
colcon-defaults==0.2.9
colcon-devtools==0.3.0
colcon-installed-package-information==0.2.1
colcon-library-path==0.2.1
colcon-metadata==0.2.5
colcon-notification==0.3.0
colcon-output==0.2.13
colcon-override-check==0.0.1
colcon-package-information==0.4.0
colcon-package-selection==0.2.10
colcon-parallel-executor==0.3.0
colcon-pkg-config==0.1.0
colcon-powershell==0.4.0
colcon-python-setup-py==0.2.9
colcon-recursive-crawl==0.2.3
colcon-ros==0.5.0
colcon-test-result==0.3.8
colcon-zsh==0.5.0
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.1
command-not-found==0.3
compizconfig-python==0.9.14.2
configobj==5.0.8
contourpy==1.0.7
coverage==7.4.4
crudini==0.9.4
cryptography==41.0.7
cssselect==1.2.0
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.3.2
debugpy==1.8.0
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.0.7
devscripts==2.23.7
dill==0.3.8
distlib==0.3.8
distro==1.9.0
docutils==0.20.1
dulwich==0.21.6
durationpy==0.9
empy==3.3.4
entrypoints==0.4
ewah-bool-utils==1.1.0
executing==2.0.1
eyed3==0.9.7
fastapi==0.115.6
fastbencode==0.2
fastimport==0.9.14
fastjsonschema==2.19.0
feedparser==6.0.10
filelock==3.13.1
filetype==1.2.0
flake8==7.0.0
flatbuffers==24.12.23
fonttools==4.46.0
freetype-py==2.4.0
fs==2.4.16
fsspec==2024.12.0
game==0.1
gitdb==4.0.11
GitPython==3.1.37
google-auth==2.37.0
googleapis-common-protos==1.66.0
gpg==1.18.0
grpcio==1.69.0
guake==3.10
h11==0.14.0
h5py==3.10.0
h5py._debian_h5py_serial==3.10.0
html2text==2024.2.26
html5lib==1.1
httpcore==1.0.7
httplib2==0.20.4
httptools==0.6.4
httpx==0.27.2
huggingface-hub==0.27.1
humanfriendly==10.0
idna==3.6
ifaddr==0.2.0
IMDbPY==2021.4.18
importlib_metadata==8.5.0
importlib_resources==6.5.2
iniconfig==1.1.1
iniparse==0.5
iotop==0.6
ipykernel==6.29.3
ipython==8.20.0
ipython-genutils==0.2.0
ipywidgets==8.1.1
isort==5.6.4
jaraco.classes==3.2.1
jedi==0.19.1
jeepney==0.8.0
Jinja2==3.1.2
jsonpointer==2.0
jsonschema==4.10.3
jupyter_client==7.4.9
jupyter_core==5.3.2
jupyterlab-pygments==0.2.2
keyring==24.3.1
kiwisolver==0.0.0
kubernetes==31.0.0
lark==1.1.9
launchpadlib==1.11.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
libevdev==0.5
logilab-common==1.9.8
louis==3.29.0
lxml==5.2.1
lxml-html-clean==0.1.1
lz4==4.0.2+dfsg
macaroonbakery==1.3.4
Mako==1.3.2.dev0
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.20.1
matplotlib==3.6.3
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
merge3==0.0.8
meson==1.3.2
mmh3==5.0.1
monotonic==1.6
more-itertools==10.2.0
mpi4py==3.1.5
mpmath==0.0.0
mutagen==1.46.0
mypy-extensions==1.0.0
nbclient==0.8.0
nbconvert==6.5.3
nbformat==5.9.1
nest-asyncio==1.6.0
netaddr==0.8.0
netifaces==0.11.0
notebook==6.4.12
notify2==0.3
numpy==1.26.4
oauthlib==3.2.2
ollama==0.4.5
-e git+ssh://git@github.com/iplayfast/OllamaPlayground.git@72cf2a0ee744ec65cc81dea422c0c24bdb60c0e2#egg=ollama_context&subdirectory=WorkingExamples/ollama_context
onboard==1.4.1
onnx==1.14.1
onnxruntime==1.20.1
opentelemetry-api==1.29.0
opentelemetry-exporter-otlp-proto-common==1.29.0
opentelemetry-exporter-otlp-proto-grpc==1.29.0
opentelemetry-instrumentation==0.50b0
opentelemetry-instrumentation-asgi==0.50b0
opentelemetry-instrumentation-fastapi==0.50b0
opentelemetry-proto==1.29.0
opentelemetry-sdk==1.29.0
opentelemetry-semantic-conventions==0.50b0
opentelemetry-util-http==0.50b0
orjson==3.10.13
overrides==7.7.0
packaging==24.0
PAM==0.4.2
pandocfilters==1.5.0
paramiko==2.12.0
parso==0.8.3
patiencediff==0.2.13
pexpect==4.9.0
pillow==10.2.0
pipx==1.4.3
Pivy==0.6.9
platformdirs==4.2.0
platformio==4.3.4
pluggy==1.4.0
ply==3.11
posthog==3.7.5
prometheus-client==0.19.0
prompt-toolkit==3.0.43
protobuf==5.29.2
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.0.0
py==1.11.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyasyncore==1.0.2
PyAudio==0.2.13
pycairo==1.25.1
pycodestyle==2.11.1
pycryptodomex==3.20.0
pycups==2.0.1
pycurl==7.45.3
pydantic==2.10.4
pydantic_core==2.27.2
pydevd==2.10.0
pydocstyle==6.3.0
pyelftools==0.30
pyflakes==3.2.0
pygame==2.5.2
PyGithub==2.2.0
Pygments==2.17.2
PyGObject==3.48.2
PyICU==2.12
pyinotify==0.9.6
PyJWT==2.7.0
pylint==3.0.3
pymacaroons==0.13.0
PyNaCl==1.5.0
pyOpenSSL==23.2.0
pyparsing==3.1.1
pyparted==3.12.0
PyPDF2==2.12.1
PyPika==0.48.9
pypng==0.20231004.0
pyproject_hooks==1.2.0
PyQt5==5.15.10
PyQt5-sip==12.13.0
PyQt6==6.6.1
PyQt6-sip==13.6.0
PyQtWebEngine==5.15.6
pyRFC3339==1.1
pyrsistent==0.20.0
pyserial==3.5
pytest==7.4.4
pytest-cov==4.1.0
pytest-repeat==0.9.3
pytest-rerunfailures==12.0
python-apt==2.7.7+ubuntu4
python-dateutil==2.8.2
python-debian==0.1.49+ubuntu2
python-dotenv==1.0.1
python-gnupg==0.5.2
python-magic==0.4.27
python-xlib==0.33
pytz==2024.1
pyudev==0.24.0
pyxdg==0.28
PyYAML==6.0.1
pyzmq==24.0.1
qrcode==7.4.2
QtPy==2.4.1
-e git+ssh://git@github.com/iplayfast/OllamaPlayground.git@72cf2a0ee744ec65cc81dea422c0c24bdb60c0e2#egg=rag_ollama&subdirectory=WorkingExamples/rag
regex==2022.10.31
repolib==2.2.1
reportlab==4.1.0
requests==2.31.0
requests-file==1.5.1
requests-oauthlib==2.0.0
rich==13.7.1
rlPyCairo==0.3.0
roman==3.3
rosdistro==1.0.1
rosdistro-modules==1.0.1
rospkg==1.6.0
rospkg-modules==1.6.0
rsa==4.9
SciPy==1.11.4
scour==0.38.2
screen-resolution-extra==0.0.0
SecretStorage==3.3.3
semantic-version==2.10.0
Send2Trash==1.8.2
setproctitle==1.3.3
setuptools==68.1.2
setuptools-scm==8.0.4
sgmllib3k==1.0.0
shellingham==1.5.4
six==1.16.0
smmap==6.0.0
sniffio==1.3.1
snowballstemmer==2.2.0
soupsieve==2.5
ssh-import-id==5.11
stack-data==0.6.3
starlette==0.41.3
sympy==1.12
systemd-python==235
tabulate==0.8.10
tenacity==9.0.0
terminado==0.17.1
terminator==2.1.3
tinycss2==1.2.1
tldextract==3.1.2
tokenizers==0.21.0
toml==0.10.2
tomli_w==1.0.0
tomlkit==0.12.4
tornado==6.4
tqdm==4.67.1
traitlets==5.5.0
ttystatus==0.38
typer==0.15.1
types-aiofiles==23.2
types-aws-xray-sdk==2.12
types-beautifulsoup4==4.12
types-bleach==6.1
types-boltons==23.0
types-boto==2.49
types-braintree==4.24
types-cachetools==5.3
types-caldav==1.3
types-cffi==1.16
types-chevron==0.14
types-click-default-group==1.2
types-click-spinner==0.1
types-colorama==0.4
types-commonmark==0.9
types-console-menu==0.8
types-croniter==2.0
types-dateparser==1.1
types-decorator==5.1
types-Deprecated==1.2
types-dockerfile-parse==2.0
types-docopt==0.6
types-docutils==0.20
types-editdistance==0.6
types-entrypoints==0.4
types-ExifRead==3.0
types-first==2.0
types-flake8-2020==1.8
types-flake8-bugbear==23.9.16
types-flake8-builtins==2.2
types-flake8-docstrings==1.7
types-flake8-plugin-utils==1.3
types-flake8-rst-docstrings==0.3
types-flake8-simplify==0.21
types-flake8-typing-imports==1.15
types-Flask-Cors==4.0
types-Flask-Migrate==4.0
types-Flask-SocketIO==5.3
types-fpdf2==2.7.4
types-gdb==12.1
types-google-cloud-ndb==2.2
types-greenlet==3.0
types-hdbcli==2.18
types-html5lib==1.1
types-httplib2==0.22
types-humanfriendly==10.0
types-ibm-db==3.2
types-influxdb-client==1.38
types-inifile==0.4
types-JACK-Client==0.5
types-jmespath==1.0
types-jsonschema==4.19
types-keyboard==0.13
types-ldap3==2.9
types-libsass==0.22
types-Markdown==3.5
types-mock==5.1
types-mypy-extensions==1.0
types-mysqlclient==2.2
types-netaddr==0.9
types-oauthlib==3.2
types-openpyxl==3.1
types-opentracing==2.4
types-paho-mqtt==1.6
types-paramiko==3.3
types-parsimonious==0.10
types-passlib==1.7
types-passpy==1.0
types-peewee==3.17
types-pep8-naming==0.13
types-pexpect==4.8
types-pika-ts==1.3
types-Pillow==10.1
types-playsound==1.3
types-pluggy==1.2.0
types-polib==1.2
types-portpicker==1.6
types-protobuf==4.24
types-psutil==5.9
types-psycopg2==2.9
types-pyasn1==0.5
types-pyaudio==0.2
types-PyAutoGUI==0.9
types-pycocotools==2.0
types-pycurl==7.45.2
types-pyfarmhash==0.3
types-pyflakes==3.1
types-Pygments==2.16
types-pyinstaller==6.1
types-pyjks==20.0
types-PyMySQL==1.1
types-pynput==1.7
types-pyOpenSSL==23.3
types-pyRFC3339==1.1
types-PyScreeze==0.1.29
types-pyserial==3.5
types-pysftp==0.2
types-pytest-lazy-fixture==0.6
types-python-crontab==3.0
types-python-datemath==1.5
types-python-dateutil==2.8
types-python-gflags==3.1
types-python-jose==3.3
types-python-nmap==0.7
types-python-slugify==8.0
types-python-xlib==0.33
types-pytz==2023.3.post1
types-pywin32==306
types-pyxdg==0.28
types-PyYAML==6.0
types-qrcode==7.4
types-redis==4.6.0
types-regex==2023.10.3
types-requests==2.31
types-requests-oauthlib==1.3
types-retry==0.9
types-s2clientprotocol==5
types-seaborn==0.13
types-Send2Trash==1.8
types-setuptools==68.2
types-simplejson==3.19
types-singledispatch==4.1
types-six==1.16
types-slumber==0.7
types-stdlib-list==0.8
types-stripe==3.5
types-tabulate==0.9
types-tensorflow==2.12
types-toml==0.10
types-toposort==1.10
types-tqdm==4.66
types-translationstring==1.4
types-tree-sitter==0.20.1
types-tree-sitter-languages==1.8
types-ttkthemes==3.2
types-tzlocal==5.1
types-ujson==5.8
types-untangle==1.2
types-usersettings==1.1
types-uWSGI==2.0
types-vobject==0.9
types-waitress==2.1
types-WebOb==1.8
types-whatthepatch==1.0
types-workalendar==17.0
types-WTForms==3.1
types-xmltodict==0.13
types-zstd==1.5
types-zxcvbn==4.4
typing_extensions==4.12.2
tzlocal==5.2
ubuntu-drivers-common==0.0.0
ufoLib2==0.16.0
ufw==0.36.2
unicodedata2==15.1.0
Unidecode==1.3.8
unidiff==0.7.3
unyt==3.0.1
urllib3==2.0.7
userpath==1.9.1
uvicorn==0.34.0
uvloop==0.21.0
virtualenv==20.25.0+ds
wadllib==1.3.6
watchfiles==1.0.3
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.8.0
websockets==10.4
wheel==0.42.0
widgetsnbextension==4.0.9
wrapt==1.15.0
xdg==5
xkit==0.0.0
xlrd==2.0.1
yt-dlp==2024.4.9
zipp==3.21.0
zombie-imp==0.0.2
